<!DOCTYPE HTML>
<html>

<head>
    
    <script src="/js/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    
      
    </script>
    <title>INDEX</title>
</head>

<body>
    <section>
	<iframe id = "demoSet" width = "560" height="315" src="http://192.168.0.7/clean_h2o/input.jsp"></iframe>        
        <a href="192.168.0.7/clean_h2o/input.jsp">input</a>
        <a href="192.168.0.7/clean_h2o/monitor.jsp">monitor</a>
    </section>
</body>

</html>
